.head{
    color:whitesmoke;
    font-family:Courier;
    margin-top: 0px;
    border: 5px solid white;
    width:auto;
    text-align: center;
    background-image: url("http://bestanimations.com/Holidays/Fireworks/fireworks/amazing-electrc-feel-fireworks-gif.gif");
}
body{
    font-family:Courier;
    background-color:black;
    color: blanchedalmond;
}

